---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.page__content p,
.page__content li {
  text-align: justify;
  text-justify: inter-word;
}

.page__content {
  hyphens: auto;
}

:lang(ko) .page__content {
  word-break: keep-all;
  overflow-wrap: break-word; 
}

/* === Global Font: Lexend Deca === */

body,
.page__content,
.archive,
.sidebar,
.masthead,
.nav__list {
  font-family: "Rajdhani", sans-serif !important;
  font-weight: 400;
}

/* Headings should be slightly heavier for readability */
h1, h2, h3, h4 {
  font-family: "Rajdhani", sans-serif !important;
  font-weight: 600;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

/* Improve paragraph readability */
.page__content {
  line-height: 1.4;
  font-size: 0.8rem;
}

.page__content p {
  margin-bottom: 0.7em;  
}

.page__content li {
  margin-bottom: 0.35em;
}


.masthead,
.nav__list,
.sidebar {
  font-weight: 400;
}




